<a href="https://colab.research.google.com/github/jchaudhary559790/Readcsv/blob/master/String_Operation(Assignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
##1. Input a string and output a substring made of first two characters and last two character

In [0]:
st=input("Enter the string")
st1=st[:2]
st2=st[len(st)-2:len(st)]
print("The first two letter of string is",st1)
print("The last two letter of string is",st2)

Enter the stringBabita Chaudhary
The first two letter of string is Ba
The last two letter of string is ry

In [0]:
## 2. Take a sample strings,check the last character of the string, if it is 'ly',change it with 'ing' and vice versa

In [0]:
strg=input("Enter the string")
name='ly'
name1='ing'

if name in strg:
  print("String contains the character 'ly'")
  newstr=strg.replace(name,name1)
  print("New string is",newstr)
if name1 in strg:
  print("String contains the character 'ing'")
  newstr=strg.replace(name1,name)
  print("New string is",newstr)

Enter the stringnaming
String contains the character 'ing'
New string is namly

In [0]:
## 3. Make a string with a sentence;Separate on space;Print each string with a '#'
# eg:input :'I like tennis.'.
# Output:'I#, like#,tennis#

In [0]:
st=input("Enter the strings")
if ' ' in st:
  print("The space found")
  new=st.replace(' ','#')
  print("The resultant string is",new)
if ' ' not in st: 
  print("The space do not exist in the string")

Enter the stringsjay
The space do not exist in the string

In [0]:
## 4.Extract the string without 'wood',from the given string
##eg:
#input:'How much wood would a woodchuk chuck if a woodchookcould chuk wood
#output:'How much would a chuk chuck if a chookcould chuk wood

In [0]:
st=input("Enter the string")
if 'wood' in st:
  new=st.replace('wood','')
  print("The resultant string is",new)
if 'wood' not in st:
  print("The string don not have 'wood")

Enter the stringHow much wood would a woodchuk if a woodchook could chuk wood
The resultant string is How much  would a chuk if a chook could chuk

In [0]:
# 5. Input:'madam','minimum'
# output:'ada','inimu'

In [0]:
st=input("Enter the string")
st1=st[1:len(st)-1]
print("The resultant string is",st1)

Enter the stringHar
The resultant string is a

In [0]:
#Input:'today's news:trump comes to gujrat'
#output:'today's news:TRUMP comes to GUJRAT'

In [0]:
st="today's news:trump comes to gujrat'"
st1=st.replace('trump','TRUMP')
st2=st1.replace('gujrat',"GUJRAT")
print(st2)

today's news:TRUMP comes to GUJRAT'

In [0]:
# 8. In a sample string add '*' in the middle of the string

In [0]:
st=input("Enter the string")
print("*".join(st))

Enter the stringjay
j*a*y

In [0]:
jay

In [0]:
# 9. Create a string by adding the replicas:
# input:'que'
#output:'quequeque'

In [0]:
st=input("Enter the string")
st1=st*3
print(st1)

Enter the stringque
quequeque

In [0]:
# 10. In a string convert the string lower case into upper case and vice Versa
#input:'Hi thERe'
#output:'hI THereE'

In [0]:
st=input("Enter the string")
st1=st.swapcase()
print(st1)

Enter the stringHi You There
hI yOU tHERE

In [0]:
ASCII# If the string is digit,print its binary else, print its ASCII code

In [0]:
st=input("Enter")
if((st>='a' and st<='z') or (st>='A' and st<='Z')):
  print("The given input is Alphabet")
  print("The ASCII value of corresponding Alphabet",ord(st))
elif(st>='0' or st<='9'):
  print("The given input is Number")
  st1=int(st)
  print("The binary value of corresponding number",bin(st1))